html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	/*font-family: 'Arvo', serif;*/
	font-family: 'Titillium Web', sans-serif;
	/*font-family: Arial, Helvetica, sans-serif;*/
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
}
h1, h2, h3 {
	font-family: 'Arvo', serif;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: #7895B5;
}
p {
	margin-bottom: 0;
	margin-top: 2rem;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}
fieldset {
	border-radius: 10px;
	border-color: #916F53;
	border-width: 0.04rem;
	margin-bottom: 20px;
	font-family: 'Arvo', serif;
}
legend {
	font-weight: bold;
	margin-bottom: 0.8rem;
}
p.inForm {
	margin: 0.5rem 0 0.1rem 0;
}
label {
	display: block;
	margin: 0.5rem 0 0.1rem 0;
}
input:not([type="radio"]):not([type="checkbox"]), textarea, select{
	display: block;
	width: 60%;
	border-radius: 10px;
	border: none;
	background-color: #916f53;
	margin-bottom: 1rem;
	font-size: 1rem;
}
#radio, #checkbox {
	margin-bottom: 1rem;
}
button {
	width: 20%;
	border-radius: 10px;
	border: none;
	background-color: #D9DBF0;
	padding: 0.5rem;
}
button:hover {
	background-color: #916F53;
	color: #D9DBF0;
}
select {
	font-size: 0.9rem;
	font-family: 'Titillium Web', sans-serif;
}
iframe {
	margin-bottom: 1rem;
}
address {
	font-family: 'Titillium Web', sans-serif;
	font-style: normal;
}









